@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../../node_modules/flowbite";
@import "tailwindcss";
@import "tailwindcss-animated";

@font-face {
  font-family: 'Agrandir';
  src: url('../fonts/agrandir.woff2') format('woff2');
  font-style: normal;
  font-weight: 100 700;
  font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/montserrat.woff2") format("woff2");
    font-style:normal;
    font-weight: 100 700;
    font-display: swap;
}

@theme {
    /* Colores */

    --color-primary: #ff6e0f;
    --color-secondary: #868e96;


    /* Fuentes */

    --font-agrandir: 'Agrandir', sans-serif;
    --font-montserrat: 'Montserrat', sans-serif;
}

@layer base {
  /* *{
	border: 1px solid red;   

	} */

	*{
		user-select: none;
	}



  html{
      scroll-behavior: smooth;
  }

	body {
	margin: 0;
	padding: 0;
	font-optical-sizing: auto;
	-webkit-tap-highlight-color: transparent;
	overflow-x: hidden;
	}

	a {
	text-decoration: none;
	color: white;
	}

	a:visited {
	color: white;
	}

	li {
	list-style: none;
	}
}