<section id="about" class="w-full sm:pt-20 flex flex-col items-center justify-center gap-10 p-4 bg-secondary">
    <div class="flex items-center justify-around w-full gap-2">
        <h2 class="font-agrandir text-3xl sm:text-6xl text-amber-50">Servicios</h2>
        <span class="bg-amber-50 px-40 py-1 rounded-lg" ></span>
    </div>
    <p class="text-center font-montserrat text-black text-xl text-balance sm:text-2xl md:w-1/2">Ofrecemos soluciones claras y efectivas para que tu comercio tenga presencia online de forma rápida, moderna y sin complicaciones.
    </p>

    <div class="verflow-auto flex flex-wrap  flex-col justify-center items-center sm:flex-row gap-4">
        <div class="flex items-center justify-center gap-4 bg-gray-900 border-white p-2 border-1 rounded-lg">
            <div class="flex-shrink-0 border-white border-4 rounded-lg bg-gray-900">
                <img class="overflow-hidden" src="https://placehold.co/200x150" alt="...">
            </div>
            <div class="flex flex-col items-center justify-center text-amber-50">
                <h2 class="font-agrandir text-2xl">Landing Basica</h2>
                <span class="text-xs text-amber-100 text-center text-">Desde $45.000 ARS.</span>
                <ul class="list-disc font-montserrat p-3">
                        <li>Todo en una sola ruta/pagina.</li>
                        <li>Adaptado a cualquier dispositivo.</li>
                        <li>Carga rapida de tu web.</li>
                </ul>
                <a class="font-agrandir bg-primary p-2 rounded-lg px-15 hover:bg-amber-500" href="https://wa.me/5491131219452?text=Hola!%20Quiero%20mas%20informacion%20sobre%20Landing%20Page%20Basica" target="_blank">Mas Info</a>
            </div>
        </div>

        <div class="flex items-center justify-center gap-4 bg-gray-900 border-white p-2 border-1 rounded-lg">
            <div class="flex-shrink-0 border-white border-4 rounded-lg bg-gray-900">
                <img class="overflow-hidden" src="https://placehold.co/200x150" alt="...">
            </div>
            <div class="flex flex-col items-center justify-center text-amber-50">
                <h2 class="font-agrandir text-2xl">Web Multiruta</h2>
                <span class="text-xs text-amber-100 text-center text-">Desde $75.000 ARS.</span>
                <ul class="list-disc font-montserrat p-3">
                        <li>Ideal para comercios con catalogo.</li>
                        <li>Galeria de servicios o productos.</li>
                        <li>Todo sobre tu empresa/local.</li>
                </ul>
                <a class="font-agrandir bg-primary p-2 rounded-lg px-15 hover:bg-amber-500" href="https://wa.me/5491131219452?text=Hola!%20Quiero%20mas%20informacion%20sobre%20Sitio%20Multiruta" target="_blank">Mas Info</a>
            </div>
        </div>

        <div class="flex items-center justify-center gap-4 bg-gray-900 border-white p-2 border-1 rounded-lg">
            <div class="flex-shrink-0 border-white border-4 rounded-lg bg-gray-900">
                <img class="overflow-hidden" src="https://placehold.co/200x150" alt="...">
            </div>
            <div class="flex flex-col items-center justify-center text-amber-50">
                <h2 class="font-agrandir text-2xl">Hosting + Dominio</h2>
                <ul class="list-disc font-montserrat p-3">
                        <li>Hosting sin cargo.</li>
                        <li>Dominio <span class="text-amber-200">vercel.app </span>sin cargo.</li>
                        <li>Gestionamos otro dominio por vos por un costo adicional.</li>
                </ul>
            </div>
        </div>

    </div>
</section>