---
import Hero from "./Hero.astro"
import About from "./About.astro"
import Tecnologies from "./Tecnologies.astro"
import Proyects from "./Proyects.astro"
import Information from "./Information.astro"
---
<main>
    <Hero />
    <About />
    <Tecnologies />
    <Proyects />
    <Information />
</main>


