<section id="#proyects" class="w-full h-fit flex flex-col items-center justify-center bg-slate-900 text-amber-50 font-agrandir">
    <div class="w-full flex justify-center items-center p-4 bg-amber-950 h-50">
        <h2 class="text-2xl">Trabajos Realizados</h2>
    </div>
    <div class="flex flex-wrap justify-center items-center gap-4 p-4 w-full">
        <div class="flex flex-col items-center justify-center bg-gray-600 p-4 rounded-lg gap-4 w-60">
            <h2 class="text-amber-100 text-xl">Campito Shop</h2>
            <img class="overflow-hidden w-full rounded-lg" src="https://www.placehold.co/100x100" alt="Tienda Oficial del Deportivo Campito">
            <a class="bg-primary px-10 rounded-lg w-full text-center hover:bg-amber-900" href="https://campitoshop.vercel.app" target="_blank">Visitar</a>
        </div>

        <div class="flex flex-col items-center justify-center bg-gray-600 p-4 rounded-lg gap-4 w-60">
            <h2 class="text-amber-100 text-xl">Cerveza Patagonia</h2>
            <img class="overflow-hidden w-full rounded-lg" src="https://www.placehold.co/100x100" alt="Pagina de Cerveza Patagonia">
            <a class="bg-primary px-10 rounded-lg w-full text-center hover:bg-amber-900" href="https://patagoniacerveza.vercel.app/" target="_blank">Visitar</a>
        </div>

        <div class="flex flex-col items-center justify-center bg-gray-600 p-4 rounded-lg gap-4 w-60">
            <h2 class="text-amber-100 text-xl">Bing - Alquiler de Autos</h2>
            <img class="overflow-hidden w-full rounded-lg" src="https://www.placehold.co/100x100" alt="Pagina de Bing Rent a Car">
            <a class="bg-primary px-10 rounded-lg w-full text-center hover:bg-amber-900" href="https://bing-rent.vercel.app/" target="_blank">Visitar</a>
        </div>

        <div class="flex flex-col items-center justify-center bg-gray-600 p-4 rounded-lg gap-4 w-60">
            <h2 class="text-amber-100 text-xl">Tau Aderezos</h2>
            <img class="overflow-hidden w-full rounded-lg" src="https://www.placehold.co/100x100" alt="Pagina de Tau Aderezos">
            <a class="bg-primary px-10 rounded-lg w-full text-center hover:bg-amber-900" href="https://landing-with-react.vercel.app/" target="_blank">Visitar</a>
        </div>
    </div>
</section>