---
import "../styles/global.css";
import Header from "./Header.astro"
import Footer from "./Footer.astro";
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="png" href="../favicon.png" />
		<title>Soluciones AFV</title>
	</head>
	<body>
		<Header />
			<slot />
		<Footer />
	</body>
	<script is:inline src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>

</html>